.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body section {
  width: 100%;
}

#result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #7755FF, #2F2CE9);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    height: 45vh;

}

#result-number-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 100%;
    background-image: url(assets/images/Oval.svg);
    
}

#result-rating {
    width: 90%;
    text-align: center;
}

#summary-section {
    display: flex;
    width: 100vw;
}

.attribution {
    position: absolute;
    bottom: 10%;
}