.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "Hanken grotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Hanken grotesk", sans-serif;
  background-color: #FCFDFF;
}

body section {
  width: 100%;
}

#result-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 45vh;
  color: white;
}

#result-section h3 {
  color: #CAC9FF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

#result-rating p {
    color: #CAC9FF;
    max-width: 18.25rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#result-number-circle {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
}

#result-number-circle h1 {
  color: white;
  font-size: 56px;
  margin: 0;
}

#result-number-circle p {
  color: white;
  margin: 0;
  opacity: 0.5168108344078064;
}

#result-rating {
  width: 90%;
  text-align: center;
}


/* summary section */

#summary-section {
  display: flex;
  width: 100vw;
}

.attribution {
  position: absolute;
  bottom: 10%;
}

#summary-section {
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;

}

#summary-content {

    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    
}

#summary-content h3 {
    color: #303B59;
    font-size: 1.125rem;
    font-weight: 700;
}