@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #5e6e85;
}

#hero {
  display: flex;
  flex-direction: column;
  background-image: url("assets/images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: ;
  max-height: 100vh;
  margin-bottom: 200px;
  padding: 5vh 5vw 2vw 5vw;

}

#hero-left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;            

}

#hero-icon {
  max-width: 10rem;
}

#hero-heading {
  font-size: clamp(1rem, 4rem, 3rem);
  font-weight: 600;
  color: #253347;
}

#hero-right-col {
  display: flex;
  justify-content: center;
}

/* calculator */
#bmi-calc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 90vw;
  height: fit-content;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 2rem;
  margin-top: 5rem;
  /* margin-right: -20vw; */
}

#calc-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #253347;
  margin: 0 0 4vh 0;
  text-align: center;
}

#input-parent {
  display: flex;
  flex-direction: column;
}

/* radio input container */

#radio-input-parent-container {
  display: flex;
  justify-content: space-between;
}

.unit-select {
  transform: scale(2);
  margin-right: 1rem;
}

.radio-label {
  font-weight: bold;
  color: #253347;
  
}

#radio-metric-container {

}

#number-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* #radio-metric-container,
#radio-imperial-container, */
#weight-input-container,
#height-input-container {
  flex-basis: calc(100% - 10px);
  margin-top: 2rem;
  
}



.measurement-input {
  margin-top: 0.5rem;
  border-style: solid;
  border-color: #d8e2e7;
  border-radius: 6px;
  height: 3.2rem;
  width: 100%;
  font-size: clamp(1rem, 1.5rem, 1.5rem);
  font-weight: 600;
}



/* for unit label in inputs */
.input-container {
  position: relative;
}
.input-container label {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: clamp(1rem, 1.5rem, 1.5rem);
  font-weight: 600;
  color: #345FF6;
}



#calc-result {
  display: flex;
  justify-content: left;
  height: fit-content;
  margin-top: 3rem;
  background: linear-gradient(to right, #355ff6, #587dff);
  border-radius: 12px;
  padding: 1rem 1rem;
}

#calc-result-starting-msg {
  color: white;
}

#bmi-result-figure {
  display: none;
}

#bmi-result-healthy-weight {
  display: none;
}

/* BMI explanation section */
#bmi-explanation-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
}

#explanation-h2 {
  font-size: clamp(1px, 3rem, 3rem);
  font-weight: bold;
  color: #253347;
}

#explanation-img-cont {

  flex: 1 1 40vw;
}

#explanation-img {
  width: 40vw;
}


#explanation-txt-cont {
  flex: 1 1 36vw;
  
  max-width: 100vw;
}



@media screen and (min-width: 767px) {
  /* .input-container {
    width: 50%;
  } */

  #weight-input-container,
  #height-input-container {
  flex-basis: calc(50% - 10px);
  margin-top: 2rem;
  }

  #number-input-container {
    flex-direction: row;
    gap: 5%;
  }

}

}
