@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #5e6e85;
}

#hero {
  display: flex;
  flex-direction: row;
  background-image: url("assets/images/herobg-01.png");
  background-size: contain;
  background-repeat: no-repeat;

  min-height: 737px;
  padding: 4.6rem 7.8rem;

  margin-bottom: 100px;
}

#hero-left-col {
  width: 38%;
  padding-bottom: 8rem;
  margin-right: 5rem;
}

#hero-heading {
  font-size: clamp(1rem, 5vw, 4rem);
  font-weight: 600;
  color: #253347;
}

#hero-right-col {
  width: 72%;
  display: flex;
  justify-content: center;
}

/* calculator */
#bmi-calc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 50%;
  height: 22.5rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  padding: 2rem;
  margin-top: 5rem;
  margin-right: 15vw;
}

#calc-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #253347;
  margin: 0;
}

#inputs-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

#calc-inputs-left-col {
  flex-grow: 1;
  margin-right: 2rem;
}

#calc-inputs-right-col {
  flex-grow: 1;
}

.measurement-row {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.measurement-input {
  margin-top: 0.5rem;
  border-style: solid;
  border-color: #d8e2e7;
  border-radius: 6px;
  height: 3.2rem;
  width: 100%;
  font-size: clamp(1rem, 1.5rem, 1.5rem);
  font-weight: 600;
}

.input-container {
  position: relative;
}
.input-container label {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: 600;
  color: #345FF6;
}

.unit-select {
  transform: scale(2);
  margin-right: 1.5rem;
}

.radio-label {
  font-weight: bold;
  color: #253347;
}

#calc-result {
  display: flex;
  justify-content: left;
  height: 130px;
  margin-top: 3rem;
  background: linear-gradient(to right, #355ff6, #587dff);
  border-radius: 8px 100px 100px 8px;
  padding: 0 2rem;
}

#calc-result-starting-msg {
  color: white;
}

#bmi-result-figure {
  display: none;
}

#bmi-result-healthy-weight {
  display: none;
}